$font-primary: 'Crimson Text', Arial, sans-serif;
$font-secondary: 'Roboto Mono', serif;

// Overrides
$grid-gutter-width: 40px !default;
$border-radius-base: 4px !default;
$padding-base-vertical: 14px !default;

$brand-primary: #F73859 !default;
$brand-secondary: #f35f55 !default;
$brand-success: #f35f55 !default;
$brand-info: #f35f55 !default;
$brand-warning: #f35f55 !default;
$brand-danger: #f35f55 !default;

$brand-white: #fff;
$brand-black: #000;
$brand-darker: #444;
$brand-gray: #ccc;
$brand-lighter: #e9e9e9;
$brand-body-color: #818892;
$brand-selection-color: #f9f6f0;
$brand-overlay-color: #3b3d40;
$brand-bg-color: $brand-white;

$input-border-focus: $brand-primary !default;
$form-group-margin-bottom: 30px !default;
