@import "~bootstrap";
@import "variables";
@import "mixins";

p {
  line-height: 28px;
  margin-bottom: 25px;
}

.centered {
  text-align: center;
}

a {
  color: $brand-primary;

  &:hover, &:focus {
    color: #7b7b7b;
    text-decoration: none;
    outline: 0;
  }
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em;
  padding: 0;
}
